<!doctype html>
<html lang="ko">
<head>
<meta name="author" content="Crucarp_이선주">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="/css/style.css" charset="utf-8"/>
<script src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/content.js"></script>
<title>CSRF error</title>
</head>
<body>
	<h1> Couldn't get proper CSRF Token! </h1>
</body>
</html>
