<!doctype html>
<html lang="ko">
<head>
<meta name="author" content="Crucarp_이선주">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="/css/style.css" charset="utf-8"/>
<link rel="stylesheet" href="/css/jquery.bxslider.css" />
<script src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/js/content.js"></script>
<title>BOOKING</title>
</head>
<body>
	<div id="wrap">
		<div id="header">
			<div class="hd_wrap">

				<h1 class="logo"><a href="main.html"><img src="/img/logo.png" alt="booking" /></a></h1>

				<div class="selcet">

					<div class="pull-left area_depth1">
						<a href="#" class="bt_Sel">인천</a>
						<ul class="menu" style="margin: 11px 0 0 -60px;">
							<li><a href="#" onclick="alert('서비스 준비중입니다.');return false;">서울</a>
							<li><a href="#">인천</a></li>
							<li><a href="#" onclick="alert('서비스 준비중입니다.');return false;">부산</a></li>
						</ul>
					</div>
					
					<div class="pull-left area_depth2">
						<a href="#" class="sel_area bt_Sel">지역선택</a>
						<ul class="menu">
							<li><a href="#">서울</a>
								<ul>
									<li class="act"><a href="#">연안동</a>
										<ul>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
										</ul>
									</li>
									<li><a href="#">연안동</a>
										<ul>
											<li><a href="#">로데오 거리1</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리2</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리</a> <input type="checkbox" /></li>
										</ul>
									</li>
									<li><a href="#">연안동</a>
										<ul>
											<li><a href="#">로데오 거리2</a> <input type="checkbox" /></li>
											<li><a href="#">로데오 거리3</a> <input type="checkbox" /></li>

										</ul>
									</li>
									<li>연안동</li>
									<li>연안동</li>
								</ul>
							</li>
							<li><a href="#">인천</a>
								<ul>
									<li>연안동</li>
									<li>연안동</li>
									<li>연안동</li>
									<li>연안동</li>
									<li>연안동</li>
								</ul>
							</li>
							<li><a href="#">부산</a></li>
						</ul>
					</div>

					<div class="pull-left area_depth2">
						<a href="#" class="sel_area bt_Sel">음식종류 선택</a>
						<ul class="menu" style="display:none">
							<li class="ofh"><a href="#" class="pull-left">한식</a> <input type="checkbox"  class="pull-right" /></li>
							<li class="ofh"><a href="#" class="pull-left">중식</a> <input type="checkbox" class="pull-right" /></li>
							<li class="ofh"><a href="#" class="pull-left">일식</a> <input type="checkbox" class="pull-right" /></li>
							<li class="ofh"><a href="#" class="pull-left">양식</a> <input type="checkbox" class="pull-right" /></li>
						</ul>
					</div>

					<div class="pull-left area_search">
						<form class="frm_selBox">
							<fieldset>
								<legend class="blind">직접검색</legend>
								<input type="text" class="txtSearch" placeholder="직접검색" title="직접검색" />
								<input type="submit" class="btnDsearch" value="검색">
							</fieldset>
						</form>
					</div>
				</div>
				<div class="top_right clearfix">
					<div class="pull-left">
						<a href="#" class=""><img src="/img/img-pop.jpg" alt="알람" /></a>
						<a href="#" class="" style="position:relative;left:-6px"><img src="/img/img-mine.jpg" alt="내이미지" /></a>
					</div>
					<div class="pull-right">
						<img src="/img/search/ic_user.png" alt="" style="position: relative;  margin-right: 5px;  vertical-align: middle;"/><span class="loca">인천시 연수구 송도동</span>
						<ul class="lnb" style="margin-top:3px">
							<% if(show_name == '') { %>
							<li><a href="/page/signin">로그인</a></li>
							<li><a href="/page/signup">회원가입</a></li>
							<% } else { %>
							<li><a href="/api/logout">로그아웃</a></li>
							<% } %>
						</ul>
					</div>
				</div>						
			</div>
		</div><!-- //#header -->



		<div class="visual">
			<div class="row">
				<div class="detail_wrap clearfix" style="background:url('/img/detail/temp.jpg') no-repeat">
					<div class="detail_con">
						<h2 class="dc_tt"><%= intro %> <strong><%= diner_name %></strong></h2>
						<p class="dc_s_tt">[인천/구월동] 고매스시 - 또다른 라이트급 스시집</p>
						<table class="tbl_dc">
							<tr class="tr_rating">
								<th>별점</th>
								<td><img src="/img/detail/rating_1.png" alt="" /> <img src="/img/detail/rating_1.png" alt="" /> <img src="/img/detail/rating_1.png" alt="" /> <img src="/img/detail/rating_0.png" alt="" /></td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td><%= diner_call %></td>
							</tr>
							<tr>
								<th>주소</th>
								<td>인천시 중구 중구4동 1074-7 대양 나이스빌 2차 2층</td>
							</tr>
							<tr>
								<th>영업시간</th>
								<td>AM 11:00~ PM 10:00</td>
							</tr>
							<tr>
								<th>휴무일</th>
								<td>매달 2번째 월요일</td>
							</tr>
							<tr>
								<th>예산</th>
								<td>1인 - 25000~30000</td>
							</tr>
							<tr>
								<th>우수 댓글</th>
								<td>일본틱한 인테리어와 조금 비싼가격이지만 정갈한 <br />
								찾과 해물튀김이 맛있는 정통 일식 집!</td>
							</tr>
						</table>
						<div class="timeattack text-center">
							<h4>TIME ATTACK</h4>
							<span class="sale">-30%</span>
							<span class="rest_time">20:17:06</span>
						</div>
					</div>
					<div class="photo_sd">
						<h4 class="psd_tt">PHOTO</h4>
						<div class="psd_wrap">
							<ul id="photo_sd">
								<li><a href="#"><img src="/img/detail/sd_temp.png" alt="" /></a></li>
								<li><a href="#"><img src="/img/detail/sd_temp.png" alt="" /></a></li>
								<li><a href="#"><img src="/img/detail/sd_temp.png" alt="" /></a></li>
								<li><a href="#"><img src="/img/detail/sd_temp.png" alt="" /></a></li>
							</ul>
							<a href="#" class="sd_btn sd_btn_up" data-type="up"><img src="/img/detail/bt_up.png" alt="up" /></a>
							<a href="#" class="sd_btn sd_btn_down" data-type="down"><img src="/img/detail/bt_down.png" alt="down" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="container">
			<div class="row_760">
				<div class="dcon clearfix">

					<div class="con-left pull-left">
						<ul class="dcon_tab clearfix">
							<li><a href="#">정보</a></li>
							<li><a href="#">포토</a></li>
							<li><a href="#">리뷰</a></li>
							<li class="act"><a href="#">메뉴</a></li>
							<li><a href="#">지도</a></li>
						</ul>
						
						<div class="dcon_sd_wrap">
							<ul class="dcon_sd_ul">
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp3.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">해 물 튀 김</a></h3>
										<p>
											오징어, 조개, 생새우, 관자, 야채 튀김과 <br />
											달콤한 일본식 튀김 간장의 환상적인 <br />
											조화를 이루는 대표메뉴인 해물튀김
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp4.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">고메스시 정식(모듬 정식)</a></h3>
										<p>
											총 8가지의 싱싱한 해물로 이루어진 <br />
											고매스시의 대표 코스 요리 1. 개살 해물죽 <br />
											2. 활어회 초밥(5P) 3. 가리비 구이
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp4.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">고메스시 정식(모듬 정식)</a></h3>
										<p>
											총 8가지의 싱싱한 해물로 이루어진 <br />
											고매스시의 대표 코스 요리 1. 개살 해물죽 <br />
											2. 활어회 초밥(5P) 3. 가리비 구이
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
							</ul>


							<ul class="dcon_sd_ul">
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp3.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">해 물 튀 김</a></h3>
										<p>
											오징어, 조개, 생새우, 관자, 야채 튀김과 <br />
											달콤한 일본식 튀김 간장의 환상적인 <br />
											조화를 이루는 대표메뉴인 해물튀김
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp4.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">고메스시 정식(모듬 정식)</a></h3>
										<p>
											총 8가지의 싱싱한 해물로 이루어진 <br />
											고매스시의 대표 코스 요리 1. 개살 해물죽 <br />
											2. 활어회 초밥(5P) 3. 가리비 구이
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
								<li>
									<div class="pull-left">
										<img src="/img/detail/temp4.png" alt="" />
									</div>
									<div class="pull-left dcon_con">
										<h3><a href="#">고메스시 정식(모듬 정식)</a></h3>
										<p>
											총 8가지의 싱싱한 해물로 이루어진 <br />
											고매스시의 대표 코스 요리 1. 개살 해물죽 <br />
											2. 활어회 초밥(5P) 3. 가리비 구이
										</p>
										<p>1 인 - 18,000</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="con-right pull-left">
						<a href="#"><img src="/img/detail/bt_rev.png" alt="" /></a>
						<h4 class="rec_tt">이 근처 할인 레스토랑 추천</h4>
						<ul class="ul_rec">
							<li><a href="#"><img src="/img/detail/temp2.png" alt="" /></a></li>
							<li><a href="#"><img src="/img/detail/temp2.png" alt="" /></a></li>
							<li><a href="#"><img src="/img/detail/temp2.png" alt="" /></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //#container -->
		<div id="footer"><img src="/img/img-footer.jpg" alt="" /></div><!-- //#footer -->
	</div><!-- //#wrap -->

	<script type="text/javascript">
	$(document).ready(function () {
		$('.dcon_sd_wrap').bxSlider({
			minSlides: 1,
			maxSlides: 1,
			slideWidth: 560,
			controls: false
		});
    });
	</script>
</body>
</html>
