<!doctype html>
<html>

<head>
	<title> <%= title %> </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<h1> Tester </h1>
	<h6> <a href="/page/postlist"> posts </a> </h6>
	<h6> <a href="/page/signup"> Sign up </a> </h6>
	<h6> <a href="/page/signin"> Sign in </a> </h6>
	<h6> <a href="/api/logout"> logout </a> </h6>
	<% if(username != '') { %>
	<h6> Hello! <%= username %> </h6>
	<%}%>
</body>

<footer>
	<h4> This is test page </h4>
</footer>

</html>