<!doctype html>
<html lang="ko">
<head>
<meta name="author" content="Crucarp_이선주">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="css/style.css" charset="utf-8"/>
<script src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/content.js"></script>
<title>BOOKING</title>
</head>
<body>
	<div id="wrap" class="cash">
		<div id="header">
			<div class="headerWrap">
				<ul class="lnb">
					<% if (show_name == '') { %>
					<li><a href="/page/signin">로그인</a></li>
					<li><a href="/page/signup">회원가입</a></li>
					<% } else {%>
					<li><a href="/api/logout">로그아웃</a></li>
					<% } %>
				</ul>
				<a href="#" class="regSearch">검색할 지역을 선택하세요!</a>
				<ul class="searchList">
					<li><a href="/page/main?area=인천">인천</a></li>
					<li><a href="#" onclick="alert('준비중입니다.');">서울</a></li>
					<li><a href="#" onclick="alert('준비중입니다.');">부산</a></li>
				</ul>
			</div>
		</div><!-- //#header -->
		<div id="container">
			<div class="content">
				<p class="ldTxt"><strong>북킹과 떠나는 인천 미식 투어</strong></br><span>미식의 시작, 북킹과 함께 하세요.</span></p>	
				<ul class="regList">
					<li class="list01"><a href="#">연수구</a></li>
					<li class="list02"><a href="#">남구</a></li>
					<li class="list03"><a href="#">중구</a></li>
					<li class="list04"><a href="#">동구</a></li>
				</ul>
			</div>
		</div><!-- //#container -->
		<div id="footer"><img src="img/img-footer.jpg" alt="" /></div><!-- //#footer -->
	</div><!-- //#wrap -->
</body>
</html>
