<!doctype html>
<html>

<head>
	<title> Hello - Signup Page </title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<% include header.ejs %>
</head>

<body>
	<form action="/api/signup" method="POST">
		<input type="text" placeholder="username" name="username"><br>
		<input type="password" placeholder="password" name="password">
		<input type="submit" value="Submit">
	</form>
</body>

<footer>
</footer>

</html>